[Desktop Entry]
Encoding=UTF-8
Name=Link to MasterOwl Comics
Type=Link
URL=http://linux.students.engr.scu.edu/~hkim/project.html
Icon=mate-fs-bookmark
